@model BookExchanger.Models.UserDetailsView
    <p>
        @Html.ActionLink("Profile", "UserProfile")||
        @Html.ActionLink("Request Book", "RequestBook")||
        @Html.ActionLink("Requested Book", "RequestedBook")||
        @Html.ActionLink("Check Out", "CheckOut")||
        @Html.ActionLink("Sell Books", "SellBook")||
        @Html.ActionLink("History", "History")||
        @Html.ActionLink("Logout", "Logout")||
    </p>
<div>
    <h4>Profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name) :
            @Html.DisplayFor(model => model.Name)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Email) :
            @Html.DisplayFor(model => model.Email)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Phone) :
            @Html.DisplayFor(model => model.Phone)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Address) :
            @Html.DisplayFor(model => model.Address)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Point) :
            @Html.DisplayFor(model => model.Point)
        </dt>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditProfile", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "AllBookDetails")
</p>
